---
BasedOnStyle:  LLVM
UseTab: Never
IndentWidth: 3
TabWidth: 3
BreakBeforeBraces: Attach
PointerAlignment: Left
AlignAfterOpenBracket: true
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 200
AccessModifierOffset: -3
LambdaBodyIndentation: OuterScope
NamespaceIndentation: All
BinPackArguments: false
OneLineFormatOffRegex: '#' # this so we avoid also reordering headers (as of 20250925)
SortIncludes: false
