*.dat
logfile.txt
phiprof*.txt
diagnostic.txt
*.vlsv
*.silo
*.o
*.ll
*.gpu
*.ptx
*.s
*.d
vscode/
.vscode/
cppcheck/
version.cpp
\#*\#
*~
nbproject
vlasiator
vlasiator+pat
nbproject
vlsvdiff_DP
vlsvextract_DP
libraries*/
library-build/
run_*/
!run_tests.sh
