[submodule "submodules/fsgrid"]
	path = submodules/fsgrid
	url = git@github.com:fmihpc/fsgrid.git


[submodule "submodules/dccrg"]
	path = submodules/dccrg
	url = git@github.com:fmihpc/dccrg.git
	branch = vlasiator-version
