save_interval = 25
restart_interval = 10000

[mpibuilder]
block_buffer_size = 10
send_buffer_size = 100

[gridbuilder]
x_length = 1
y_length = 1
z_length = 1
x_min = -1.2
x_max = +1.2
y_min = -1.2
y_max = +1.2
z_min = -1.2
z_max = +1.2
vx_min = -1.0
vx_max = +1.0
vy_min = -1.0
vy_max = +1.0
vz_min = -1.0
vz_max = +1.0
vx_length = 10
vy_length = 10
vz_length = 1
q = 1.0
m = 1.0
t_min = 0.0
timestep = 0
max_timesteps = 2000
dt = 0.025132741
#dt = 0.012566371
periodic_x = yes
periodic_y = yes
periodic_z = yes

[variables]
output = Rho
output = B
