project = test_trans
propagate_field = 0
propagate_vlasov_acceleration = 0
propagate_vlasov_translation = 1
dynamic_timestep = 0

[io]
system_write_file_name = bulk
system_write_t_interval = 0.01
system_write_distribution_stride = 0
system_write_distribution_xline_stride = 0
system_write_distribution_yline_stride = 0
system_write_distribution_zline_stride = 0

diagnostic_write_interval = 1

[gridbuilder]
x_length = 20
y_length = 20
z_length = 20
#x_length = 10
#y_length = 10
#z_length = 5
x_min = -1.0
x_max = +1.0
y_min = -1.0
y_max = +1.0
z_min = -1.0
z_max = +1.0
timestep_max = 20
#dt = 0.171428572
dt = 0.09

[velocitymesh]
name = IonMesh
vx_min = -1.0
vx_max = +1.0
vy_min = -1.0
vy_max = +1.0
vz_min = -1.0
vz_max = +1.0
vx_length = 3
vy_length = 3
vz_length = 3

[boundaries]
periodic_x = yes
periodic_y = yes
periodic_z = yes

[sparse]
minValue = 1e-7

[ParticlePopulation]
name = avgs
mass_units = PROTON
mass = 1.0
charge = 1
sparse_min_value = 1e-7
mesh = IonMesh

[variables]
output = populations_vg_rho
output = populations_vg_blocks
diagnostic = populations_vg_rho
diagnostic = populations_vg_blocks

[test_trans]
cellPosition = 1.5
