ParticlePopulations = proton

project = Flowthrough
propagate_field = 1
propagate_vlasov_acceleration = 1
propagate_vlasov_translation = 1
dynamic_timestep = 1

[proton_properties]
mass = 1
mass_units = PROTON
charge = 1

[AMR]
max_spatial_level = 2
box_half_width_x = 2
box_half_width_z = 2
box_half_width_y = 2

[gridbuilder]
x_length = 16
y_length = 8
z_length = 8
x_min = -8e7
x_max = 8e7
y_min = -4e7
y_max = 4e7
z_min = -4e7
z_max = 4e7
#t_max = 160
dt = 2.0
timestep_max = 1

[proton_vspace]
vx_min = -2e6
vx_max = +2e6
vy_min = -2e6
vy_max = +2e6
vz_min = -2e6
vz_max = +2e6
vx_length = 15
vy_length = 15
vz_length = 15

[io]
write_initial_state = 1

system_write_t_interval = 1.0
system_write_file_name = bulk
system_write_distribution_stride = 0
system_write_distribution_xline_stride = 0
system_write_distribution_yline_stride = 0
system_write_distribution_zline_stride = 0

[variables]
output = populations_vg_rho
output = fg_e
output = fg_b
output = vg_boundarytype
output = vg_rank
output = populations_vg_blocks
diagnostic = populations_vg_blocks

[boundaries]
periodic_x = no
periodic_y = yes
periodic_z = yes
boundary = Outflow
boundary = Maxwellian

[outflow]
precedence = 3

[proton_outflow]
face = x+
#face = y-
#face = y+
#face = z-
#face = z+

[maxwellian]
precedence = 4
face = x-

[proton_maxwellian]
dynamic = 0
file_x- = sw1.dat

[proton_sparse]
minValue = 1.0e-15

[Flowthrough]
Bx = 1.0e-9
By = 1.0e-9
Bz = 1.0e-9

[proton_Flowthrough]
T = 1.0e5
rho  = 1.0e6

nSpaceSamples = 2
nVelocitySamples = 2

[loadBalance]
algorithm = RANDOM
